/*
banner image
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg


https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg

*/
/**
For banner over lay add this class to your div
<div class="banner__container">
  <div> 
      <!-- content goes here -->
  </div>
</div>
*/

*{
  margin:0;
}

body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 16px;
}

p{
  font-size: 12px;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.flex{
  display: flex;
}

.menu{
  justify-content: space-between;
}

.menu img{
  width: 100px;
  padding: 10px;
}

.menu a{
  text-decoration: none;
  color: black;
  padding: 30px 35px 30px 0;
  line-height: 50px;
  font-size: 14px;
  font-weight:800;
}

.banner__container {
  position: relative;
}

.banner__container:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}

.banner_image{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg");
  background-size: cover;
  height: 630px;
}

.banner_header{
  text-align: center;
  font-size: larger;
  color: rgb(255, 255, 255);
  padding-top: 200px;
  position: relative;
}

.banner_header a , .button a{
  text-decoration: none;
  background-color: rgb(255, 80, 80);
  color:white;
  margin: 10px;
  line-height: 100px;
  padding: 10px 50px;
  border-radius: 5px;
  font-weight: 600;
}

.banner_bottom{
  background-color: rgb(238, 238, 238);
  padding: 40px 10px;
  justify-content: space-between;
}

.block{
  background-color:white;
  width:600px;
  border: 2px solid rgb(218, 218, 218);
}

.block h4{
  background-color: rgba(207, 204, 204, 0.644);
  line-height: 35px;
  padding-left: 20px;
}

.description *{
  padding: 10px;
  align-self: center;
}

.feature_heading{
  text-align: center;
  margin: 30px 0 20px;
}

.feature{
  justify-content: space-around;
}

.city{
  flex-direction: column;
}

.city_image{
  background-size: cover;
  width: 350px;
  height: 300px;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.city_image *{
  position: relative;
  padding-top: 10px;
}

.one{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg");
}

.two{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg");
}

.three{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg");
}

.feature_description{
  background-color: rgba(207, 204, 204, 0.644);
  width: 320px;
  padding: 15px;
  min-height: 30px;
}

.button{
  text-align: center;
}

footer{
  background-color: black;
  color:rgb(209, 209, 209);
  text-align: center;
  padding: 20px;
  font-size: 10px;
}